<section class="techs">
    <h3 class="stack">Tecnologias</h3>
    <div class="icons">
        <div class='item'>
            <img src="../../../assets/html.png" alt="html" class="icon" title="HTML 5">
            <p>HTML5</p>

        </div>
        <div class='item'>
            <img src="../../../assets/css.png" alt="css" class="icon" title="CSS">
            <p> CSS3</p>
        </div>

        <div class='item'>
            <img src="../../../assets/js.png" alt="js" class="icon" title="JavaScript">
            <p>JavaScript</p>
        </div>
        <div class='item'>
            <img src="../../../assets/Node.png" alt="node" class="icon" title="NodeJS">
            <p>NodeJs</p>
        </div>
        <div class='item'>
            <img src="../../../assets/react.png" alt="react" class="icon" title="React">
            <p>ReactJS</p>
        </div>
        <div class='item'>
            <img src="../../../assets/angular.png" alt="angular" class="icon" title="Angular">
            <p>Angular</p>
        </div>
        <div class='item'>
            <img src="../../../assets/py.png" alt="python" class="icon" title="Python">
            <p>Python</p>
        </div>
        <div class='item'>
            <img src="../../../assets/Flask.png" alt="flask" class="icon" title="flask">
            <p>Flask</p>
        </div>
    </div>
</section>