@font-face {
    font-family: 'Roboto Serif';
    src: url('../../fonts/RobotoSerif.ttf') format('truetype');
}

.about {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.about h2 {
    margin-top: 5%;
}

.about P {
    min-height: 60%;
}

.about h2,
p {
    background-color: rgba(0, 0, 0, 0.064);

}

.text {
    width: 60dvw;
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}

.text p {
    text-indent: 20px;
}

@media screen and (max-width: 850px) {
    .text {
        width: 80dvw;
    }

}

@media screen and (max-width: 500px) {
    .text p {
        font-size: 15px;
    }
}