<div class="about">
    <h2>Sobre mim</h2><br>
    <section class="text">
        <p> Tenho 30 anos de idade, e minha vida profissional começou aos 17 anos como vendedor comercial, era um jovem
            tímido e de pesado falar, mas com muito desejo de aprender e vencer cada barreira. Este caminho me
            proporcionou
            Soft Skills básicas mas preciosas, como comunicação e negociação, que era algo que eu não possua até o
            momento. Logo me surgiu interesse
            pela Tecnologia, aos meus 18 anos, o mundo estava mudando, os smartphones em sua ascensão, e eu queria
            fazer
            parte disto, então comecei uma graduação em Gestão de Tecnologia da Informação. </p><br>

        <p> Me formei aos 21 anos em 2013. Porém no momento o mercado não estava tão receptivo para novatos, e eu, jovem
            imediatista que era, acabei focando nas vendas em varejo, permaneci nesta área por 6 anos, conheci
            profissionais
            maravilhosos, consegui crescer, e tive experiencias que me ajudaram a amadurecer pessoal e
            profissionalmente.
        </p><br>
        <p>Em 2017 dei inicio a uma jornada no mundo Empreendedorismo, Oferecendo Soluções em Estética Automotiva,
            experiência que me ensinou a resiliência que o empreendedorismo pode proporcionar, bem como também a
            perseverança na resolução de problemas. </p><br>
        <p>Bem, e o que tudo isto tem haver com Desenvolvimento de Software? Você deve estar se perguntando. No inicio
            de
            2021 meu coração se inclinou para este ramo, e desde então tenho trabalhado por uma meta que está em meu coração, a de me tornar um
            Desenvolvedor Incrível, com a humildade de alguém que não sabe de tudo, mas com a determinação de aprender e melhorar a cada dia, usando o conceito de melhoria continua, 
            não só em minhas aplicações, mas também em minha vida. Certo também de que todas as coisas cooperam para o bem dos que
            amam a Deus, não tenho dúvidas que cada erro e acerto até aqui, formaram o homem que sou hoje, e com certeza um
            profissional muito melhor do que eu seria no passado para esta comunidade incrível. </p><br>
        <p> Bom, eu vejo que geralmente que as pessoas também colocam particularidades suas em seus “About”, não sou eu
            quem vou quebrar o costume não é? rs. Em meu tempo vago quando não estou estudando ou trabalhando, gosto de
            escutar podcasts e ler livros a respeito de assuntos que me edificam, espiritual e pessoalmente, também sou um
            violonista amador e um surfista iniciante." </p><br>
    </section>

</div>