<section class="me">
    <div class="apresentation">
        <h2 class="name">Henrique Teixeira Ornelas</h2>
        <h4 class="stack">Desenvolvedor Full Stack</h4>
    </div>
    <section class="about">
        <div class="bio">
            <h5>Sobre mim</h5>
            <p>"Sou um desenvolvedor Full Stack Junior apaixonado por programação desde 2021. Tenho uma
                meta, a de construir e contribuir em projetos incriveis evoluindo constantemente em novos desafios e
                aprendendo sempre
                mais.</p>
            <p>Possuo habilidades variadas como JavaScript, Angular, React, Python, e outras tecnologias deste universo
                de tão vasta informação!</p>
            <p>Minhas Skills, vão desde de SPA's (Single Page Application) à parte de back end na requisição
                de banco de dados não relacionais como Mongo DB.</p>
            <p>Vamos Criar algo incrível juntos! Seria uma honra para mim contribuir com seu time!" </p>
        </div>

        <div class="imgborder">
            <img src="../../../assets/me.jpg" alt="me" class="img">
        </div>
    </section>
</section>
<app-tecnologys></app-tecnologys>
<app-projects></app-projects>