<section class="me">
    <div class="apresentation">
        <h2 class="name"> Henrique Teixeira Ornelas</h2>
        <h4 class="stack">{{ 'home.role' | translate }}</h4>
    </div>
    <section class="about">
        <div class="bio">
            <h5>{{ 'home.aboutTitle' | translate }}</h5>
            <p>{{ 'home.bio' | translate }}</p>
        </div>

        <div class="imgborder">
            <img src="../../../assets/me.jpg" alt="me" class="img">
        </div>
    </section>
</section>
<app-tecnologys></app-tecnologys>
<app-projects></app-projects>
<app-automations></app-automations>
