<section class="me">
    <div class="apresentation">
        <h2 class="name"> Henrique Teixeira Ornelas</h2>
        <h4 class="stack">Desenvolvedor Full Stack</h4>
    </div>
    <section class="about">
        <div class="bio">
            <h5>Sobre mim</h5>
            <p>"Um Desenvolvedor Full Stack! Apaixonado por programação desde 2021! Ofereços soluções em desenvolvimento
                ponta-a-ponta. Desde páginas responsivas usando alguns dos principais Framworks do mercado como, Angular
                e ReactJS com JavaScript, à API's no Back-End, usando NojeJs ou Python!
            <p> Ofereço solução de problemas e upgrades através da tecnologia! Vamos construir Algo Incrível Juntos,
                para mim seria uma grande alegria contribuir com seu Time ou seu Projeto!!"
        </div>

        <div class="imgborder">
            <img src="../../../assets/me.jpg" alt="me" class="img">
        </div>
    </section>
</section>
<app-tecnologys></app-tecnologys>
<app-projects></app-projects>