<section class="projects">
    <h3 class="stack">Meus Projetos</h3>
    <div class="cards">
        <div class="card ">
            <img src="../../../assets/bibleisopen.png" class="card-img" alt="Bible is Open">
            <div class="card-body">
                <h5>Bible is Open</h5>
                <p>Uma aplicação no estilo de blog, para compartilhar reflexões bíblicas. (Finalizando Produção)</p>

            </div>
            <button class="btn"> Em Breve</button>
        </div>
        <div class="card">
            <img src="../../../assets/rtAsset.png" class="card-img" alt="RT Polimento Técnico">
            <div class="card-body">
                <h5>RT Polimento Técnico</h5>
                <p>Um site desenvolvido para ser ultilizado com SEO, em um negócio de estética automotiva delivery</p>

            </div>
            <a href="https://www.rtpolimentotecnicodelivery.com.br/"> <button class="btn"> Em Breve </button> </a>
        </div>
        <div class="card">
            <img src="../assets/Tela de Cadastro.png" class="card-img" alt="Tela de cadastro">
            <div class="card-body">
                <h5>Tela de Cadastro</h5>
                <p>Uma micro solução de um tela de cadastro, com pré-validação de dados </p>
            </div>
            <a href="https://riccoornelas.github.io/Validador-de-dados/"> <button class="btn"> Em Breve </button> </a>
        </div>
        <div class="card">
            <img src="../../../assets/Carimbo-em-Breve.png" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Em breve um novo Projeto</h5>
                <p class="card-text">Em Breve um Novo Prejeto</p>
            </div>
            <button class="btn"> Em Breve</button>
        </div>

    </div>

</section>