<section class="automations">
  <h3 class="stack">{{ 'sections.automations' | translate }}</h3>
  <p class="subtitle">{{ 'sections.automationsSubtitle' | translate }}</p>

  <div class="cards">
    <div class="card" *ngFor="let item of automations" (click)="openModal(item)">
      <div class="card-thumb">
        <img [src]="item.image" [alt]="item.title" class="card-img">
        <div class="card-overlay">
          <span class="view-icon">{{ 'common.viewDetails' | translate }}</span>
        </div>
      </div>
      <div class="card-body">
        <h5>{{ item.title }}</h5>
        <p>{{ item.description }}</p>
      </div>
      <div class="card-tags" *ngIf="item.tags && item.tags.length > 0">
        <span class="tag" *ngFor="let tag of item.tags">{{ tag }}</span>
      </div>
      <div class="card-footer">
        <span class="badge-soon" *ngIf="item.comingSoon && !item.demoUrl">{{ 'common.comingSoon' | translate }}</span>
        <span class="badge-live" *ngIf="item.demoUrl">{{ 'common.online' | translate }}</span>
      </div>
    </div>
  </div>

  <app-gallery-modal
    [item]="selectedItem"
    [show]="showModal"
    (closeModal)="closeModal()">
  </app-gallery-modal>
</section>
